@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

a:visited {
    color: rgb(39, 163, 101);
}

.welcome-style {
    font-weight: bolder;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: hsl(87, 25%, 84%);
    color: white;
}

main {
    padding: 16px;
}

footer {
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    position: absolute;
    text-align: left;
    background-color: gray;
    bottom: 0%;
    width: 100%;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item1 {
    grid-row: 1;
}

table tr:nth-child(even) {
    background-color: lightgrey;
}

th {
    text-decoration-color: black;
    text-decoration:underline;
    font-weight: bolder;
    text-align: center;
}
